{# Liste des produits #}

{% extends "admin/templateAdmin.html.twig" %}
{% block title %}Liste des produits{% endblock %}

{% block body %}
    {# Tableau d'affichage des plats #}
    <div class="container-fluid">
        {% for type, label in {'dishes': 'Plats', 'dessert':'Dessert', 'drink' : 'Boisson', 'topping' : 'Toppings'} %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="">{{ label }}</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Garniture</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Statut</th>
                            <th colspan='2'>Action</th>
                            </thead>
                            <tbody> 
                                {% for product in products %}
                                    {% if product.type == type %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.type }}</td>
                                            <td>{{ product.garnish }}</td>
                                            <td><img src="{{ asset('uploads/product/' ~ product.image)}}" /></td>
                                            <td>{{ product.description }}</td>
                                            <td>{{ product.price }}</td>
                                            <td>{{ product.status }}</td>
                                            <td><a href='{{ path('product_edit',  {id : product.id }) }}'><i class="material-icons">create</i></a></td>
                                            <td><a href='{{ path('product_delete',  {id : product.id }) }}'><i class="material-icons">delete</i></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        


        {# Formulaire de gestion des produits #}
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">gestion des produits</h4>
                    </div>
                    <div class="card-content">

                        {{ form(form) }} {# formulaire #}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



