<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Title -->
        <title>Bêp - Vietnamese Street Food</title>

        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('assets/img/favicon_60x60.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/favicon_76x76.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/favicon_120x120.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/favicon_152x152.png') }}">

        <!-- CSS Plugins -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/plugins/slick-carousel/slick/slick.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/plugins/animate.css/animate.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/plugins/animsition/dist/css/animsition.min.css') }}" />

        <!-- CSS Icons -->
        <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}" />

        <!-- CSS Theme -->
        <link id="theme" rel="stylesheet" href="{{ asset('assets/css/themes/theme-beige.min.css') }}" />
        <link href="{{ asset('css/override.css') }}" rel="stylesheet" />
        
        

    </head>

    <body>
        <!-- Modal INSCRIPTION -->
		<div class="modal fade" id="myModalinscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		  	<form method="post" action="">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel"><b style="color: #42A232;">Inscription</b></h2>
			      </div>
			      <div class="modal-body">

			        <!-- FORMULAIRE INSCRIPTION A METTRE CI-DESSOUS -->

			        <?= $msg ?>

					<!-- infos à rentrer:
					- pseudo (varchar 20)
					- mdp (varchar 60)
					- nom (varchar 20)
					- prenom (varchar 20)
					- email (varchar 50)
					- civilite (enum : m,f)
					- statut (int 1)
					- date_enregistrement (datetime)  -->

					
					  <div class="form-group">
					    <label for="nom">Nom</label>
					    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Votre nom">
					  </div>
					  <div class="form-group">
					    <label for="prenom">Prénom</label>
					    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Votre prénom">
					  </div>
					  <div class="form-group">
					    <label for="email">Email</label>
					    <input type="email" class="form-control" id="email" name="email" placeholder="Votre e-mail">
					  </div>
                                        
                                          <div class="form-group">
					    <label for="mdp">Mot de passe</label>
					    <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Votre mot de passe">
					  </div>
  
			        <!-- fin FORMULAIRE INSCRIPTION -->

			     	</div>
			     	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			        	<button type="submit" class="btn btn-primary">Envoyer</button>
			     	</div>
			      	<div class="propalConnexionInscription" style="padding: 10px;">
			      		Vous avez déjà un compte ? <a href="" data-toggle="modal" data-target="#myModalconnexion"> <b style="color: #42A232;">Connectez-vous</b></a> !
			      	</div>
			    </div>
		    </form>
		  </div>
		</div>
		<!-- fin Modal INSCRIPTION -->

		<!-- Modal CONNEXION -->
		<div class="modal fade" id="myModalconnexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		  	<form method="post" action="">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel"><b style="color: #42A232;">Connexion</b></h2>
			      </div>
			      <div class="modal-body">
			        <!-- FORMULAIRE CONNEXION A METTRE CI-DESSOUS -->

			        <?= $msg ?>

                                        <div class="form-group">
					    <label for="emailconnexion">Email</label>
					    <input type="text" class="form-control" id="emailconnexion" name="emailconnexion" placeholder="Votre e-mail">
					</div>
					<div class="form-group">
					    <label for="mdpconnexion">Mot de passe</label>
					    <input type="password" class="form-control" id="mdpconnexion" name="mdpconnexion" placeholder="Votre mot de passe">
					</div>

			        <!-- fin CONNEXION INSCRIPTION -->
			     	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			        	<button type="submit" class="btn btn-primary">Se connecter</button>
			      	</div>
			      		<div class="propalConnexionInscription" style="padding: 10px;">
			      		Vous n'avez pas de compte ? <a href="" data-toggle="modal" data-target="#myModalinscription"><b style="color: #42A232;">Inscrivez-vous</b></a> en quelques clics !
			      	</div>
			    </div>
			</form>
		  </div>
		</div>
		<!-- fin Modal CONNEXION -->

		<!-- fin BOITE MODAL -->

        <!-- Body Wrapper -->
        <div id="body-wrapper" class="animsition">

            <!-- Header -->
            <header id="header" class="light">

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Logo -->
                            <div class="module module-logo">
                                <a href="index.html">
                                    <img src="{{ asset('assets/img/photobep/Design/beplogo.png') }}" alt="" width="" style="border-radius: 50%;background: white">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7" style="font-size: 1.5em">
                            <!-- Navigation -->
                            <nav class="module module-navigation left mr-4">
                                <ul id="nav-main" class="nav nav-main">
                                    <li>
                                        <a href="#">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="#">A propos</a>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Connexion</a>
                                        <div class="dropdown-container">
                                            <ul>
                                                <li>                                              
                                                    
                                                    <a href="#" data-toggle="modal" data-target="#myModalinscription">Inscription</a>


                                                </li>
                                                <li>
                                                   
                                                    <a href="#" data-toggle="modal" data-target="#myModalconnexion">Connexion</a>
                                               
                                                </li>
                                            </ul>
                                </div>
                                    </li>

                                </ul> 
                            </nav>
                            <div class="module left">
                                <a href="menu-list-navigation.html" class="btn btn-outline-secondary"><span>Commander !</span></a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="module module-cart right" data-toggle="panel-cart">
                                <span class="cart-icon">
                                    <i class="ti ti-shopping-cart"></i>
                                    <span class="notification">2</span>
                                </span>
                                <span class="cart-value">9.50 €</span>
                            </a>
                        </div>
                    </div>
                </div>

            </header>
            <!-- Header / End -->

            <!-- Header -->
            <header id="header-mobile" class="light">

                <div class="module module-nav-toggle">
                    <a href="#" id="nav-toggle" data-toggle="panel-mobile"><span></span><span></span><span></span><span></span></a>
                </div>    

                <div class="module module-logo">
                    <a href="index.html">
                        <img src="{{ asset('assets/img/photobep/Design/beplogocarre.png') }}" alt="">
                    </a>
                </div>

                <a href="#" class="module module-cart" data-toggle="panel-cart">
                    <i class="ti ti-shopping-cart"></i>
                    <span class="notification">2</span>
                </a>

            </header>
            <!-- Header / End -->

            <!-- Content -->
            <div id="content">

            {% block body %}{% endblock %}

            <!-- Footer -->
            <footer id="footer" class="bg-dark dark text-center">

                <div class="container">
                   
                    <!-- Footer 2nd Row -->
                    <div class="footer-second-row">
                       
                         <h3 class="text-muted mb-3">Suivez-nous !</h3>
               <a href="https://www.facebook.com/bepstreetfood/" class="icon icon-social icon-circle icon-facebook"><i class="fa fa-facebook fa-2x"></i></a>
              <a href="https://pro.iconosquare.com/igfeed/home/1855623217997824/3105274801" class="icon icon-social icon-circle icon-instagram"><i class="fa fa-instagram  fa-2x"></i></a>
              <br>
              <br>
                
              <span class="text-muted">Copyright 2018©. Bêp Vietnamese Street Food,102 Rue La Fayette 75010 PARIS - Métro Poissonnière, 09 81 33 34 49,contact@bepstreetfood.com </span>
                        
                    </div>
                </div>

                <!-- Back To Top -->
                <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

            </footer>
        </div>
        <!-- Content / End -->

        <!-- Panel Cart -->
        <div id="panel-cart">
            
            <div class="panel-cart-container">
                <div class="panel-cart-title">
                    <h5 class="title"><b>Plage horaire</b></h5>
                    
                    <button class="close" data-toggle="panel-cart"><i class="ti ti-close"></i></button>
                </div>
                <div class="panel-cart-title">
                <p>Heure à laquelle je viendrais retirer ma commande</p>
                </div>
                <div class="form-group">
                    <select class="form-control text-center">
                        <option>12h00</option>
                        <option>12h15</option>
                        <option>12h30</option>
                        <option>12h45</option>
                        <option>13h00</option>
                        <option>13h15</option>
                        <option>13h30</option>
                    </select>
                </div>

                <div class="panel-cart-title">
                    <h5 class="title"><b>Votre panier</b></h5>
                    <button class="close" data-toggle="panel-cart"><i class="ti ti-close"></i></button>
                </div>
                <div class="panel-cart-title">
                <p>Récapitulatif de ma commande</p>
                </div>
                <div class="panel-cart-content">
                    <table class="table-cart">
                        {# vignette commande#}
                        <tr>
                            <td class="title">
                                <span class="name"><a href="#productModal" data-toggle="modal">Bahn Mi</a></span>
                                <span class="caption text-muted">Garniture + récap ingrédients</span>
                            </td>
                            <td class="price">9.50 €</td>
                            <td class="actions">
                                <a href="#productModal" data-toggle="modal" class="action-icon"><i class="ti ti-pencil"></i></a>
                                <a href="#" class="action-icon"><i class="ti ti-close"></i></a>
                            </td>
                        </tr>
                        {# fin vignette commande#}
                        
                        {# vignette promotion#}
                            {# <tr>
                            <td class="title">
                                <span class="name">Weekend 20% OFF</span>
                            </td>
                            <td class="price text-success">-$8.22</td>
                            <td class="actions"></td>
                        </tr>#}
                        {# fin vignette promotion#}
                    </table>
                    <div class="cart-summary">
                        {# <div class="row">
                            <div class="col-7 text-right text-muted">Total:</div>
                            <div class="col-5"><strong>9.50 €</strong></div>
                        </div>#}
                        {#<hr class="hr-sm">#}
                        <div class="row text-lg">
                            <div class="col-7 text-right text-muted">Total:</div>
                            <div class="col-5"><strong>24.21 €</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="panel-cart-action btn btn-secondary btn-block btn-lg"><span>Valider ma commande</span></a>
        </div>

        <!-- Panel Mobile -->
        <nav id="panel-mobile">
            <div class="module module-logo bg-dark dark">
                <a href="#">
                    <img src="{{ asset('assets/img/photobep/Design/beplogocarre.png') }}" alt="" width="88">
                </a>
                <button class="close" data-toggle="panel-mobile"><i class="ti ti-close"></i></button>
            </div>
            <nav class="module module-navigation"></nav>
            <div class="module module-social">
                <h6 class="text-sm mb-3">Suivez nous!</h6>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </nav>

        <!-- Body Overlay -->
        <div id="body-overlay"></div>

    </div>

    <!-- Modal / Product -->
    <div class="modal fade" id="productModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-lg dark bg-dark">
                    <div class="bg-image"><img src="{{ asset('assets/img/photobep/Design/beplogocarre.png') }}" alt="" width="100px"></div>
                    <h4 class="modal-title">Modifier mon plat</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
                </div>
                <div class="modal-product-details">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6 class="mb-0">Banh Mi</h6>
                            <span class="text-muted">Boeuf citronelle, sirasha</span>
                        </div>
                        <div class="col-3 text-lg text-right">$9.00</div>
                    </div>
                </div>
                <div class="modal-body panel-details-container">
                   
                    <!-- Panel Details / Additions -->
                    <div class="panel-details">
                        <h5 class="panel-details-title">
                            <label class="custom-control custom-radio">
                                <input name="radio_title_additions" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                            <a href="#panelDetailsAdditions" data-toggle="collapse">Ajouter un ingrédient</a>
                        </h5>
                        <div id="panelDetailsAdditions" class="collapse">
                            <div class="panel-details-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Carotte (1 €)</span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Concombre (1 €)</span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Nem (2 €)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Viande(2 €)</span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Nouille (1.50 €)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="modal-btn btn btn-secondary btn-block btn-lg" data-dismiss="modal"><span>Ajouter au panier</span></button>
            </div>
        </div>
    </div>

    <!-- Video Modal / Demo -->
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close" data-dismiss="modal"><i class="ti-close"></i></button>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>

    <!-- JS Plugins -->
    <script src="{{ asset('assets/plugins/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/tether/dist/js/tether.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/slick-carousel/slick/slick.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery.appear/jquery.appear.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery.scrollto/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery.localscroll/jquery.localScroll.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/twitter-fetcher/js/twitterFetcher_min.js') }}"></script>
    <script src="{{ asset('assets/plugins/skrollr/dist/skrollr.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/animsition/dist/js/animsition.min.js') }}"></script>

    <!-- JS Core -->
    <script src="{{ asset('assets/js/core.js') }}"></script>

    <!-- JS Stylewsitcher -->
    <script src="styleswitcher/styleswitcher.js"></script>

</body>

</html>
