
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-3" id="menuSidebar">
            <!-- Menu Navigation -->
            <nav id="menu-navigation" class="stick-to-content" data-local-scroll>
                <ul class="nav nav-menu bg-dark dark">
                    <li><a href="#Menus">Menus</a></li>
                    <li><a href="#Bepbox">Bêp Box</a></li>
                    <li><a href="#dishes">Plat</a></li>
                    <li><a href="#dessert">Dessert</a></li>
                    <li><a href="#drink">Boisson</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 section-boutique">
        
            <!-- Menu Category / Menus -->
            <div id="Menus" class="menu-category">
                <div id="category-menu" class="menu-category-title">
                    <div class="bg-image"><img src="{{ asset('assets/img/menu.jpg') }}" alt=""></div>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                                
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                
                                
                                    
                                <a href="{{ path('menu_details', {menuName : 'Bobun'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/bobun1.jpg') }}"  alt=""></a>
                                <h6 class="mb-0"></h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Boeuf citronelle</li>
                                        <li>Poulet Xia xu</li>
                                        <li>Tofu</li>
                                        <li>Mortadelle vietnamienne</li>
                                    </ul>
                                </span>
                                                                                          
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                                                       
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('menu_details', {menuName : 'Roulo'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/roulo1.png') }}"  alt=""></a>
                                <h6 class="mb-0">Menu Roulo'</h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Boeuf citronelle</li>
                                        <li>Poulet Xia xu</li>
                                        <li>Tofu</li>
                                        <li>Mortadelle vietnamienne</li>
                                    </ul>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('menu_details', {menuName : 'Banhmi'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/banhmi1.jpg') }}"  alt=""></a>
                                <h6 class="mb-0">Menu Banh Mi</h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Boeuf citronelle</li>
                                        <li>Poulet Xia xu</li>
                                        <li>Tofu</li>
                                        <li>Mortadelle vietnamienne</li>
                                    </ul>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('menu_details', {menuName : 'Bepbox'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/banhmi1.jpg') }}"  alt=""></a>
                                <h6 class="mb-0">Menu Bep Box</h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Bep Box du moment</li>
                                    </ul>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            
                                
            <!-- Menu Category / Bep box -->
            <div id="Bepbox" class="menu-category">
                <div id="category-bepbox" class="menu-category-title">
                    <div class="bg-image"><img src="{{ asset('assets/img/bepboxAffiche.png') }}" alt=""></div>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                        <div class="col-lg-6 col-6 mx-auto">
                            <div class="" style="margin: 0 auto;">
                                <!-- Menu Item -->
                                <div class="menu-item menu-grid-item imgMiddleMenu">
                                    <img class="mb-5 mx-auto " src="{{ asset('assets/img/bepbox1.jpg') }}" alt="" >
                                    <h6 class="mb-0">Bêp Box</h6>
                                    <span class="text-muted text-sm">Nouille sauté aux crevettes</span>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix</span> 13.50 €</span></div>
                                        <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                            <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                  
            
            <!-- Menu Category / Plats -->
            <div id="dishes" class="menu-category">
                <div class="menu-category-title product-category">
                    <div class="bg-image"><img src="{{ asset('assets/img/dishes.png') }}" alt=""></div>
                    <h2 class="title">Nos Plats</h2>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                          
                        {% for dish in dishes %}
                        {% if dish.status == 'active' %}
                        <div class="col-lg-4">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('product_details', {name : dish.name}) }}"><img class="mb-4" src="{{ asset('assets/img/' ~ dish.image ) }}"  alt=""></a>
                                <h6 class="mb-0">{{ dish.name }}</h6>
                                <span class="text-muted text-sm">
                                    <p>{{ dish.garnish }}</p>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>{{ dish.price }}€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %} 
                    </div>
                </div>        
            </div>      
            
            <!-- Menu Category / Desserts -->
            <div id="dessert" class="menu-category">
                <div class="menu-category-title product-category">
                    <div class="bg-image"><img src="{{ asset('assets/img/dessert.png') }}" alt=""></div>
                    <h2 class="title">Nos Desserts</h2>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                        
                        {% for dessert in desserts %}
                        {% if dessert.status == 'active' %}
                        <div class="col-lg-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <img class="mb-4" src="{{ asset('assets/img/' ~ dessert.image ) }}"  alt="">
                                <h6 class="mb-0">{{ dessert.name }}</h6>
                                <span class="text-muted text-sm">
                                    <p>{{ dessert.description }}</p>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>{{ dessert.price }}€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}   
                    </div>
                </div>        
            </div> 
            
            <!-- Menu Category / Boissons -->
            <div id="drink" class="menu-category">
                <div class="menu-category-title product-category">
                    <div class="bg-image"><img src="{{ asset('assets/img/drink.png') }}" alt=""></div>
                    <h2 class="title">Nos Boissons</h2>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">        
                        
                        {% for drink in drinks %}
                            {% if drink.drink_category == 'exotique' and drink.status == 'active' %}
                            <div class="col-lg-6 col-6 mx-auto">
                                <!-- Menu Item -->
                                <div class="menu-item menu-grid-item">
                                    <img class="mb-4" src="{{ asset('assets/img/' ~ drink.image ) }}"  alt="">
                                    <h6 class="mb-0">{{ drink.name }}</h6>
                                    <span class="text-muted text-sm">
                                        <p>{{ drink.description }}</p>
                                    </span>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>{{ drink.price }}€</span></div>
                                        <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                            <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if drink.drink_category == 'classique' and drink.status == 'active' %}
                            <div class="col-lg-4">
                                <!-- Menu Item -->
                                <div class="menu-item menu-grid-item">
                                    <img class="mb-4" src="{{ asset('assets/img/' ~ drink.image ) }}"  alt="">
                                    <h6 class="mb-0">{{ drink.name }}</h6>
                                    <span class="text-muted text-sm">
                                        <p>{{ drink.description }}</p>
                                    </span>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>{{ drink.price }}€</span></div>
                                        <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                            <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}