
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-3" id="menuSidebar">
            <!-- Menu Navigation -->
            <nav id="menu-navigation" class="stick-to-content" data-local-scroll>
                <ul class="nav nav-menu bg-dark dark">
                    <li><a href="#Menus">Menus</a></li>
                    <li><a href="#Bepbox">Bêp Box</a></li>
                    <li><a href="#dishes">Plat</a></li>
                    <li><a href="#dessert">Dessert</a></li>
                    <li><a href="#drink">Boisson</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9 section-boutique">
        
            <!-- Menu Category / Menus -->
            <div id="Menus" class="menu-category">
                <div id="category-menu" class="menu-category-title">
                    <div class="bg-image"><img src="{{ asset('assets/img/menu.jpg') }}" alt=""></div>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                        
                    
                           
                                
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                
                                
                                    
                                <a href="{{ path('menu_details', {menuName : 'Bobun'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/bobun1.jpg') }}"  alt=""></a>
                                <h6 class="mb-0"></h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Boeuf citronelle</li>
                                        <li>Poulet Xia xu</li>
                                        <li>Tofu</li>
                                        <li>Mortadelle vietnamienne</li>
                                    </ul>
                                </span>
                                                                                          
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                                                       
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('menu_details', {menuName : 'Roulo'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/roulo1.png') }}"  alt=""></a>
                                <h6 class="mb-0">Menu Roulo'</h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Boeuf citronelle</li>
                                        <li>Poulet Xia xu</li>
                                        <li>Tofu</li>
                                        <li>Mortadelle vietnamienne</li>
                                    </ul>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('menu_details', {menuName : 'Banhmi'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/banhmi1.jpg') }}"  alt=""></a>
                                <h6 class="mb-0">Menu Banh Mi</h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Boeuf citronelle</li>
                                        <li>Poulet Xia xu</li>
                                        <li>Tofu</li>
                                        <li>Mortadelle vietnamienne</li>
                                    </ul>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item">
                                <a href="{{ path('menu_details', {menuName : 'Bepbox'}) }}"><img class="mb-4 imgEngagements" src="{{ asset('assets/img/banhmi1.jpg') }}"  alt=""></a>
                                <h6 class="mb-0">Menu Bep Box</h6>
                                <span class="text-muted text-sm">
                                    <ul>
                                        <li>Bep Box du moment</li>
                                    </ul>
                                </span>
                                <div class="row align-items-center mt-4">
                                    <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>€</span></div>
                                    <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                        <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            
                                
            <!-- Menu Category / Bep box -->
            <div id="Bepbox" class="menu-category">
                <div id="category-bepbox" class="menu-category-title">
                    <div class="bg-image"><img src="{{ asset('assets/img/bepboxAffiche.png') }}" alt=""></div>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                        <div class="col-lg-6 col-6 mx-auto">
                            <div class="" style="margin: 0 auto;">
                                <!-- Menu Item -->
                                <div class="menu-item menu-grid-item imgMiddleMenu">
                                    <img class="mb-5 mx-auto " src="{{ asset('assets/img/bepbox1.jpg') }}" alt="" >
                                    <h6 class="mb-0">Bêp Box</h6>
                                    <span class="text-muted text-sm">Nouille sauté aux crevettes</span>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix</span> 13.50 €</span></div>
                                        <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                            <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                  
            
            <!-- Menu Category / Plats -->
            {% for label, type in {'Nos plats' : 'dishes', 'Nos desserts' : 'dessert', 'Nos boissons' : 'drink'} %}
            <div id="{{ type }}" class="menu-category">
                <div id="category-plat" class="menu-category-title">
                    <div class="bg-image"><img src="{{ asset('assets/img/' ~ type ~ '.png') }}" alt=""></div>
                    <h2 class="title">{{ label }}</h2>
                </div>
                <div class="menu-category-content padded">
                    <div class="row gutters-sm">
                        
                        
                        {% for product in products %}
                            
                            {% if type != 'drink' and product.type == type and product.status == 'active' %}
                                    
                                <div class="col-lg-4">
                                    <!-- Menu Item -->
                                    <div class="menu-item menu-grid-item">
                                        <a href="{{ path('product_details', {name : product.name}) }}"><img class="mb-4" src="{{ asset('assets/img/' ~ product.image ) }}"  alt=""></a>
                                        <h6 class="mb-0">{{ product.name }}</h6>
                                        <span class="text-muted text-sm">
                                            <p>{{ product.garnish }}</p>
                                        </span>
                                        <div class="row align-items-center mt-4">
                                            <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span>{{ product.price }}€</span></div>
                                            <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}  
                                  
                            {% if type == 'drink' and product.type == type and product.status == 'active' %}
                                
                                {% if product.drink_category == 'exotique' %}
                                <div class="col-lg-6 col-6 mx-auto">
                                    <!-- Menu Item -->
                                    <div class="menu-item menu-grid-item imgMiddleMenu">
                                        <a href="{{ path('product_details', {name : product.name}) }}"><img class="mb-4" src="{{ asset('assets/img/' ~ product.image ) }}" alt=""></a>
                                        <h6 class="mb-0">{{ product.name }}</h6>
                                        <span class="text-muted text-sm">{{ product.description }}</span>
                                        <div class="row align-items-center mt-4">
                                            <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span> 3.00 €</span></div>
                                            <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {% else %}
                                <div class="col-lg-4 col-6">
                                    <!-- Menu Item -->
                                    <div class="menu-item menu-grid-item">
                                        <img class="mb-4" src="{{ asset('assets/img/' ~ product.image ) }}" alt="">
                                        <h6 class="mb-0">{{ product.name }}</h6>
                                        <span class="text-muted text-sm">{{ product.description }}</span>
                                        <div class="row align-items-center mt-4">
                                            <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix </span> 2.00 €</span></div>
                                            <div class="col-sm-6 text-sm-right mt-2 mt-sm-0">
                                                <button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Commander</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                            {% endif %}
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
            
           
                                
        </div>
    </div>
</div>



{% endblock %}