{# ! ceci est la fiche PRODUIT ! #}

{% extends "base.html.twig" %}

{% block body %}
<div id="content">

    <!-- Page Title -->
    <div class="page-content">
        <div class="container bg-light">
            <div class="row">
                <div class="col-lg-8 push-lg-4">
                    <h1 class="mb-0">{{ product.name }}</h1>
                    <h4 class="text-muted mb-0">{{ product.description }}</h4>
                    <a href="{{ path('menu') }}"><button>Retour à la boutique</button></a>
                </div>
            </div>
        
            
            <!-- Special Offer -->
            <div id="detailed_product" class="special-offer mb-5 animated" data-animation="fadeIn">
                <img src="{{ asset('assets/img/bobun2.jpg') }}" alt="" class="special-offer-image">
                <div class="special-offer-content">
                    <h2 class="mb-2">{{ product.name }}</h2>
                    
                   
                        {% if product.name == "Roulo" %}
                        <h5>Trois sauces au choix :</h5>
                        <ul>
                            <li>nuoc mam (existe en version végétarienne)</li>
                            <li>siracha (légèrement relevée)</li>
                            <li>hoisin (légèrement sucrée)</li>
                        </ul>
                        {% endif %}
                        
                        {% if product.name == "Bobun" %} 
                            {% for garnish, label in {'boeuf' : 'beef', 'poulet' : 'chicken', 'tofu' : 'tofu'}  %}
                            {% if product.garnish != 'tofu' and product.garnish == garnish %}
                                <h5 class="text-muted mb-5">Servi avec des nems aux crevettes</h5>
                            {% else %}
                                <h5 class="text-muted mb-5">Servi avec des nems aux légumes</h5>
                            {% endif %}
                            <ul class="list-check text-lg mb-0">
                                <li>Nems</li>
                                <li>Salade</li>
                                <li>Carottes</li>
                                <li>Coriandre</li>
                                <li>Oignons frits</li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                        
                        {% if product.name == "Banhmi" %}
                        <h5>Dans un pain frais</h5>
                        {% endif %}
                        
                    <div class="row align-items-center mt-4">
                        <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix</span>{{ product.price }}</span></div>
                        <div class="col-sm-6 text-sm-right mt-2 mt-sm-0"><button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="mod                                                  al"><span>Commander</span></button></div>
                    </div>
                </div>  
            </div><hr>
            
        
            <div class="special-offer mb-5 animated" data-animation="fadeIn">
                <div class="row">
                    <h4>Souhaitez-vous compléter votre repas ?</h4>
                    <p class="bg-success">Economisez en prenant Plat + Boisson + Dessert !</p>
                    <!-- Page Content -->
                    <div class="page-content">

                        <div class="container clearfix">

                            <div class="main left">

                                <!-- Post / Item -->
                                <article class="post post-wide animated mb-4" data-animation="fadeIn">
                                    <div class="post-image"><img src="{{ asset('assets/img/boisson.jpg') }}" alt=""></div>
                                    <div class="post-content">
                                        <h4><a href="blog-post.html">Boisson</a></h4>
                                        <ul>
                                            <li>Classique 2€</li>
                                            <li>Exotique 3€</li>
                                        </ul>
                                        <div class="row align-items-center mt-4">

                                            <div class="col-sm-6 text-sm-right mt-2 mt-sm-0"><button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="mod                                                  al"><span>Commander</span></button></div>
                                        </div> 
                                    </div>
                                </article>
                                <!-- Post / Item -->
                                <article class="post post-wide animated mb-4" data-animation="fadeIn">
                                    <div class="post-image"><img src="{{ asset('assets/img/dessert2.jpg') }}" alt=""></div>
                                    <div class="post-content">
                                        <h4><a href="blog-post.html">Dessert</a></h4>
                                        <ul>
                                            <li>Dessert 1</li>
                                            <li>Dessert 2</li>
                                        </ul>
                                        <div class="row align-items-center mt-4">
                                            <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">Prix</span> €3.00</span></div>
                                            <div class="col-sm-6 text-sm-right mt-2 mt-sm-0"><button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="mod                                                  al"><span>Commander</span></button></div>
                                        </div> 
                                    </div>
                                </article>
                                <hr>

                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div><!-- Content / End -->
{% endblock %}